table#lihtne{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    text-align: center;

}
td{
    border: 1px solid black;
}
table#keeruline1{
    border: 3px solid #ff570c;
    width: 400px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    background-color: #8d9aa1;

}

table#keeruline2 {
    border: 3px solid #18d018;
    width: 200px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;

}
table#keeruline2 td {
    border: 1px solid #1dd91d;
    vertical-align: top;
}

.nimiA{
    background-color: #bdb155;
}

table#keeruline3 {
    border: 3px solid #db3def;
    width: 300px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;

}

table#keeruline4 {
    border: 3px solid #16e516;
    width: 300px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;

}