table#iseseisev{
    border: 3px solid black;
    width: 500px;
    height: 350px;
    text-align: center;
    border-collapse: collapse;

}

table#iseseisev td{
    border: 1px solid #001a73;
    vertical-align: center;
}

#iseseisev tr:nth-child(1)  td:nth-child(1){
    background-color: mistyrose;
}
#iseseisev tr:nth-child(1)  td:nth-child(2){
    background-color: lightpink;
}
#iseseisev tr:nth-child(1)  td:nth-child(3){
    background-color: peachpuff;
}

#iseseisev tr:nth-child(2)  td:nth-child(1){
    background-color: navajowhite;
}
#iseseisev tr:nth-child(2)  td:nth-child(2){
    background-color: lightyellow;
}
#iseseisev tr:nth-child(2)  td:nth-child(3){
    background-color: honeydew;
}
#iseseisev tr:nth-child(2)  td:nth-child(4){
    background-color: paleturquoise;
}
#iseseisev tr:nth-child(2)  td:nth-child(5){
    background-color: lightcyan;
}

#iseseisev tr:nth-child(3)  td:nth-child(1){
    background-color: palegreen;
}
#iseseisev tr:nth-child(3)  td:nth-child(2){
    background-color: lightsteelblue;
}
#iseseisev tr:nth-child(3)  td:nth-child(3){
    background-color: powderblue;
}
#iseseisev tr:nth-child(3)  td:nth-child(4){
    background-color: plum;
}

#iseseisev tr:nth-child(4)  td:nth-child(1){
    background-color: lavender;
}
#iseseisev tr:nth-child(4)  td:nth-child(2){
    background-color: thistle;
}